.header {
  height: 50px;
  background-color: #ffffff;
  border-bottom: 2px solid #e7eaec;
  margin-left: 220px;
}
.header-content-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.hamburger-btn {
  background-color: #1ab394;
  border: none;
  color: #fff;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
}
.faded-text {
  color: #6f7880;
  font-size: 15px;
  margin-left: 20px;
}
