#driver {
  margin: 0 10px;
}

#driver .card {
  margin: 10px 10px 0px 0px;
}
#driver h3 {
  display: inline;
}

#driver .header {
  background-color: #4774e7;
  border-width: inherit;
  border-radius: 2px;
  color: white;
  padding: 1.5px 3px 1.5px 3px;
  margin: 0em;
}
#driver .normal {
  border: 1px #a3b9f3 solid;
  margin: 5px 30px 5px 30px;
}

#driver .justify-content {
  justify-content: space-between;
  display: flex;
}



#driver .distance {
  font-size: 16px;
}

#driver .contact {
  color: gray;
  font-size: small;
}

#driver .phone {
  color: black;
}

#driver text {
  font-size: 14px;
  color: grey;
  font-weight: bolder;
  /* padding-bottom: 25px; */
}

#driver .vr {
  width: 1px;
  height: 100px;
}

/* #driver p {
  margin-top: 20px;
} */

#driver .distance-div {
  font-size: "15px";
  font-weight: "lighter";
}

#driver .address {
  margin-top: 10px;
}

#driver .vertical {
  width: 1px;
  height: 70px;
  border: 1px #f2f2f2 solid;
  background-color: #f2f2f2;
}

.ui.bottom.tabular.menu .item{
  background-color: #f3f4f3;
}
.ui.bottom.tabular.menu .active.item {
  border-top:1px solid #f3f4f3;
}